.footer{
  height: 40px;
  width: 100%;
  /* background-color: rgb(168, 255, 255); */
  margin-top: auto;
}

h6{
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;  
  font-weight: normal;
}



